<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SD.MovieWorld">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.SD.utils.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FavouriteMovieDetailActivity"
            android:label="@string/title_activity_movie_detail" />

        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/title_activity_movie_detail" />

        <provider
            android:name="com.SD.utils.MoviesContentProvider"
            android:authorities="com.SD.MovieWorld.provider"
            android:exported="true" />

    </application>

</manifest>

